<div class="card">

<%= link_to image_tag(night.image, class: :card__img ), root_path %>
 
  
<div class="card__body">
    <%= link_to  night.title, root_path,method: :get, class: :card__title%>
     
    <p class="card__summary">
      <%= night.genre.name %>
      <%= night.state.name %>
    </p>
      <%= link_to  "#{night.user.name}の投稿", root_path,class: :card__user %>
  </div>
</div>