<main class="main">
  <div class="inner">
    <div class="night__wrapper">
      <p class="night__hedding">
        <%= @night.title%>
      </p>
     
      <%if user_signed_in? && current_user.id == @night.user_id%>
        <div class="night__manage">
          <%= link_to "ç·¨é›†ã™ã‚‹", edit_night_path(@night.id), class: :night__btn %>
          <%= link_to "å‰Šé™¤ã™ã‚‹", night_path(@night.id), method: :delete, class: :night__btn %>
        </div>
      <% end %>
      <div class="night__image">
        <%= image_tag @night.image %>
      </div>
      <div class="night__body">
        <table class="night__detail">
        <tr>
            <th class="table__col1">æŠ•ç¨¿è€…</th>
            <td class="table__col2"><%= @night.user.name %></td>
          </tr>

        <tr>
            <th class="table__col1">ã‚¸ãƒ£ãƒ³ãƒ«</th>
            <td class="table__col2"><%= @night.genre.name %></td>
          </tr>
          <tr>
            <th class="table__col1">åœ°åŸŸ</th>
            <td class="table__col2"><%= @night.state.name %></td>
          </tr>
          <tr>
            <th class="table__col1">èª¬æ˜Ž</th>
            <td class="table__col2"><%= @night.explain %></td>
          </tr>
          
        </table>
       

      </div>

      
      
      <div class="night__comments">
        <% if current_user %>

        <div clss = "heart">
        <% if @night.liked_by?(current_user) %>
          <%= link_to  night_likes_path(@night), method: :delete do %>
            ðŸ’“
            <%= @night.likes.count %>
          <% end %>
          <% else %>
          <%= link_to night_likes_path(@night), method: :post do %>
             ðŸ–¤
            <%= @night.likes.count %>
          <% end %>

          <% end %>
        </div>
          <%= form_with model: [@night, Comment.new],local: true do |f|%>
            <div class="field">
              <%= f.label :content, "ã‚³ãƒ¡ãƒ³ãƒˆ" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "é€ä¿¡ã™ã‚‹", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
               <%= comment.content%>
              <%= link_to "ï¼ˆ#{comment.user.name}ï¼‰", user_path(@night.user), class: :comment_user %>
            <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</main>
