<main class="main">
  <div class="inner">
    <div class="night__wrapper">
      <p class="night__hedding">
        <%= @night.title%>
      </p>
      <%= link_to "#{@night.user.name}の投稿", user_path(@night.user), class: :night__user %>
      <%if user_signed_in? && current_user.id == @night.user_id%>
        <div class="night__manage">
          <%= link_to "編集する", edit_night_path(@night.id), class: :night__btn %>
          <%= link_to "削除する", night_path(@night.id), method: :delete, class: :night__btn %>
        </div>
      <% end %>
      <div class="night__image">
        <%= image_tag @night.image %>
      </div>
      <div class="night__body">
        <div class="night__detail">
          <p class="detail__title">ジャンル</p>
          <p class="detail__message">
            <%= @night.genre.name %>
          </p>

        <div class="night__detail">
          <p class="detail__title">地域</p>
          <p class="detail__message">
            <%= @night.state.name %>
          </p>

        </div>
        <div class="night__detail">
          <p class="detail__title">説明</p>
          <p class="detail__message">
            <%= @night.explain %>
          </p>
        </div>
      </div>
      <div class="night__comments">
        <% if current_user %>
          <%= form_with model: [@night, Comment.new],local: true do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
               <%= comment.content%>
              <%= link_to "（#{comment.user.name}）", user_path(@night.user), class: :comment_user %>
            <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</main>
