<main class="main">
  <div class="inner">
    <div class="night__wrapper">
      <p class="night__hedding">
        <%= @night.title%>
      </p>
     
      <%if user_signed_in? && current_user.id == @night.user_id%>
        <div class="night__manage">
          <%= link_to "編集する", edit_night_path(@night.id), class: :night__btn %>
          <%= link_to "削除する", night_path(@night.id), method: :delete, class: :night__btn %>
        </div>
      <% end %>
      <div class="night__image">
        <%= image_tag @night.image %>
      </div>
      <div class="night__body">
        <table class="night__detail">
        <tr>
            <th class="table__col1">投稿者</th>
            <td class="table__col2"><%= @night.user.name %></td>
          </tr>

        <tr>
            <th class="table__col1">ジャンル</th>
            <td class="table__col2"><%= @night.genre.name %></td>
          </tr>
          <tr>
            <th class="table__col1">地域</th>
            <td class="table__col2"><%= @night.state.name %></td>
          </tr>
          <tr>
            <th class="table__col1">説明</th>
            <td class="table__col2"><%= @night.explain %></td>
          </tr>
          
        </table>
       

      </div>

      
      
      <div class="night__comments">
        <% if current_user %>
          <%= form_with model: [@night, Comment.new],local: true do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
               <%= comment.content%>
              <%= link_to "（#{comment.user.name}）", user_path(@night.user), class: :comment_user %>
            <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</main>
