<main class="main">
  <div class="inner">
    <div class="night__wrapper">
      <p class="night__hedding">
        <%= @night.title%>
      </p>
     
      <%if user_signed_in? && current_user.id == @night.user_id%>
        <div class="night__manage">
          <%= link_to "編集する", edit_night_path(@night.id), class: :night__btn %>
          <%= link_to "削除する", night_path(@night.id), method: :delete, class: :night__btn %>
        </div>
      <% end %>
      <div class="night__image">
        <%= image_tag @night.image %>
         <div class = "heart">

        <% if @night.liked_by?(current_user) %>
          <%= link_to  night_likes_path(@night), method: :delete do %>
            💓
            <%=  "#{@night.likes.count}いいね"%>
          
          <% end %>
          <% else %>
          <%= link_to night_likes_path(@night), method: :post do %>
            いいねを押そう!!👉   🖤
            <%= "#{@night.likes.count}いいね" %>
          <% end %>

          <% end %>
        </div>
      </div>
      <div class="night__body">

     

        <table class="night__detail">
        <tr>
            <th class="table__col1">投稿者</th>
            <td class="table__col2"><%= @night.user.name %></td>
         
          </tr>

        <tr>
            <th class="table__col1">ジャンル</th>
            <td class="table__col2"><%= @night.genre.name %></td>
            </tr>
            <tr>
             <th class="table__col1">地域</th>
            <td class="table__col2"><%= @night.state.name %></td>
          </tr>
         
          <tr>
            <th class="table__col3">説明</th>
            <td class="table__col4"><%= @night.explain %></td>
          </tr>
          
        </table>
       
       
      </div>

      
      <div class="night__comments">
      <div class = "comment_set">
        <% if user_signed_in? %>
    
          <%= form_with model: [@night, Comment.new],local: true do |f|%>
            <div class="field">
              <%= f.label :content, "コメントフォーム" %><br />
              <%= f.text_area :content, id:"comment_content", class: "comment_content"%>
            </div>
            <div class="actions">
              <%= f.submit "コメントする", class: :form__btn  %>
            </div>
          <% end %>
          
        <% end %>
        </div>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
               <p>コメント者
              <%= link_to comment.user.name, user_path(comment.user), class: :comment_user %></p>
        
              <%= " ・#{comment.content}" %>
              
            <% end %>
            </li>
        </ul>
        
      </div>
    </div>
  </div>
</main>
